{% include header.html %}

    <main>
        <div class="custom-container">
            <div class="row">
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eius qui dolor laborum, tempora omnis, assumenda reprehenderit aspernatur fugiat obcaecati perspiciatis. Quis quasi, provident quidem voluptate vel repudiandae rerum adipisci.</p>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}